<p>book-list works!</p>


<!--<div class="ui middle aligned selection divided list">-->
<!--  <bm-book-list class="item" *ngFor="let b of books"  [routerLink]="b.isbn"></bm-book-list> </div>    SEITE 172 FUNKTIONIERT !!!!  NUR DIESE ZEILE -->

<div class="ui middle aligned selection divided list">
  <bm-book-list-item class="item" *ngFor="let b of books" [book]="b" [routerLink]="b.isbn"></bm-book-list-item>
    <div *ngIf="!books" class="ui active dimmer">
      <div class="ui large text loader"> Daten werden geladen...</div>
         </div>
            <p *ngIf="books && !books.length"> Es wurden noch keine Bücher eingetragen </p>
</div>

<!--  <a *ngFor="let book of books" class="item">-->
<!--    <img class="ui tiny image"-->
<!--         *ngIf="book.thumbnails && book.thumbnails[0] && book.thumbnails[0].url"-->
<!--         [src]="book.thumbnails[0].url">-->
<!--    <div class="content">-->
<!--      <div class="header" font-size= 5em>{{ book.title }}</div>-->
<!--      <div *ngIf="book.subtitle" class="description">{{ book.subtitle }}</div>-->
<!--      <div class="metadata">-->
<!--<span *ngFor="let author of book.authors; last as l">-->
<!--{{ author }}<span *ngIf="!l">, </span>-->
<!--</span>-->
<!--        <br>-->
<!--        ISBN {{ book.isbn }}-->
<!--      </div>-->
<!--    </div>-->
<!--  </a>-->
<!--</div>-->




<div class="ui middle aligned selection divided list">
<bm-book-list-item class="item" *ngFor="let b of books" [book]="b" (click)="showDetails(b)"></bm-book-list-item>
</div>
