<br> <br>


<table class="table table-hover table-striped">

  <thead>
  <tr>
    <th>Technologie</th>
    <th>Erfahrung in Jahren</th>
    <th>Zuletz Verwendet</th>

  </tr>
  </thead>

  <tbody>

  <ng-container >

    <tr *ngFor="let data of skills">
      <td>{{data.name}}</td>
      <td>{{data.years}}</td>
      <td>{{data.lastUsed}}</td>

    </tr>
  </ng-container>
  </tbody>
</table> <br>

Id: <input [(ngModel)]="skillId"> <br><br>

Technologie: <input type="text" #box/>  <br><br><br><br>


<button (click)="getVal(box.value)">Change Technologie</button>

<button (click)="update()">Update</button>


<router-outlet></router-outlet>


