<p>Listele Component</p>

<label> Model: {{auto.model}} </label> <br>
<input [(ngModel)]="auto2.model"> <br>

<label> Marke: {{auto.marke}} </label> <br>
<input [(ngModel)]="auto2.marke"> <br>

<label> Erstzulassung: {{auto.erstzulassung}} </label> <br>
<input [(ngModel)]="auto2.erstzulassung"> <br>

<label> Kilometer: {{auto.kilometer}} </label> <br>
<input [(ngModel)]="auto2.kilometer"> <br>

<label> Kraftstoffart: {{auto.kraftstoffart}} </label> <br>
<input [(ngModel)]="auto2.kraftstoffart"> <br>

<label> Fahrzeugtyp: {{auto.fahrzeugtyp}} </label> <br>
<input   class="auto2.fahrzeugtyp"> <br>

<button class="changeAuto(auto2)" id="buton">Show</button> <br> <br>


