a {
  margin: 0px;
  margin-top: 0px;
  padding: -5px;
  font-size: 25px;
  padding-left: 25px;
  text-decoration: none;
  color: black;
}
.navbar{
  cursor: pointer;
  top: 10px;
  padding: 10px 500px;
}

a:hover{
  color: red;
  transition: 0.5s;
}
a:focus{
  color: red;
}
a:active{
  color: blue;
  background-color: orange;
  }

button{
  background-color: orange;
  color: white;
  border-radius: 0 5px 5px 0;
  /*cursor: pointer;*/
  position: relative;
  padding: 9px;
  border: none;
  font-size: 16px;
  right: 247px;
}
input{
  padding: 7.5px;
  float: left;
  font-size: 16px;
  min-width: 280px;

}


