<br> <br>
<div>
  <nav class="navbar">

<!--    <input class="search" type="text" [(ngModel)]="search" placeholder="Geben Sie bitte einen Namen ein">-->
<!--    <button>Search</button>-->

    <a routerLink="/suche"><b> Suche </b></a>

    <a routerLink="/home"><b> Mitarbeiter Kurzvorstellung </b></a>

    <a routerLink="/projekt"><b> Projekt </b></a>

    <a routerLink="/skills"><b> Skills </b></a>

    <!--<a routerLink="/projects_dialog"><b> Dialog </b></a>-->

  </nav>
</div>


<router-outlet></router-outlet>
