.form-control{
  margin: 5px;
  border: 1px solid gray;

  width: 950px;
  height: 600px;
  /*float: left;*/
  padding: 50px 36px;
  left: 79%;
  cursor: pointer;
  /*float: bottom;*/
  font-size: 35px;
  border-radius: 10px;
  word-break: break-word;
  display: block;
  overflow: scroll;
}

.body {
  border: none;
  margin: 100px;
  margin-bottom: 50px;
  padding-left: 5px;
  max-width: 980px;
  max-height: 700px;
  font-size: 25px;
}
.bild {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  width: 270px;
  height: 520px;
  padding: 10px;
  top: 225px;
  right: 40%;
  radius: 92px;
}


