 <button class="btn btn-danger" (click)="showProjectList()"> Zurück zur Projektliste </button>

<div>

  <ng-container>

    <tr *ngFor="let projekt of projekt">
      <td>
        <div *ngIf="isEditable(projekt)"> Title
          <input type="text" [(ngModel)]="projekt.title" class="form-control"/>
        </div>
        <div *ngIf="!isEditable(projekt)"> {{projekt.title}}</div>
      </td>


      <td>
        <div *ngIf="isEditable(projekt)">
          <button class="btn btn-sm btn-success" (click)="update()">Update</button>
          <button class="btn btn-sm btn-danger" (click)="cancelEdit()">Cancel</button>
          <button class="btn btn-sm btn-success" (click)="deleteSkill(editableProjekt)">Delete</button>


        </div>

        <div *ngIf="!isEditable(projekt)">
          <button class="btn btn-sm btn-success" (click)="onEdit(projekt)">Edit</button>

        </div>
      </td>

    </tr>

    <button class="btn btn-sm btn-success" (click)="addEmptySkillToSkills()">Add</button>


  </ng-container>
</div>
<!--</div>-->
