<br> <br> <br>




<!--<div *ngFor="let data of faehigkeit"> {{data.title}} </div> <br>-->
<!--<div *ngFor="let data of faehigkeit"> {{data.title2}} </div> <br>-->





<body>

<div class="gallery " *ngFor="let data of faehigkeit">

  <div class="gallery"> {{data.title}} </div>

  <div class="gallery">  {{data.title2}}  </div>

</div>






</body>




















<!--<body>-->
<!--<div class="gallery" *ngFor="let titles of title"> {{faehigkeit}}-->
<!--<div class="gallery" > {{faehigkeit}}-->

<!--  <div class="desc" (click)="change()" >-->
<!--    </div>-->
<!--  {{faehigkeit}}-->
<!--</div>-->


<!--<div class="gallery">-->

<!--  <div class="desc"> {{title2}}</div>-->
<!--</div>-->


<!--<div class="gallery">-->

<!--  <div class="desc" > {{title3}} </div>-->

<!--</div>-->


<!--</body>-->






